#home-features {
    padding: 6rem 0;
}

#home-features #home-features-content {
    display: flex;
    gap: 4rem;
}

#home-features .home-features-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #eaeaea;
    padding: 1.25rem;
    border-radius: 6px;
}

#home-features .home-features-col p,
#home-features .home-features-col h3 {
    margin: 0;
}

#home-features .home-features-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

#home-features .home-features-icon {
    width: 34px;
    height: 34px;
    background-color: #F5F6F7;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1100px) {
    #home-features #home-features-content {
        gap: 2.5rem;
    }
}

@media screen and (max-width: 996px) {
    #home-features #home-features-content {
        margin: 0 auto;
        max-width: 70%;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    #home-features {
        padding: 4rem 0;
    }
    
    #home-features #home-features-content {
        max-width: 100%;
    }
}