.props-table {
  overflow-x: auto;
  overflow-y: hidden;
}

.props-table table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: fit-content;
}

.props-table thead tr {
  background-color: #FDEBDF;
  text-align: left;
  border: none;
}

.props-table thead th:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.props-table thead th:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.props-table th,
.props-table td {
    padding: 15px 20px;
    border: none;
}

.props-table tbody tr {
  border-bottom: 1px solid #efe8e3;
  border-top: none;
}

.props-table tbody tr:nth-of-type(even) {
  background-color: #FFF;
}

.props-table tbody tr:last-of-type {
  /* border-bottom: 2px solid #E37530; */
  border-bottom: none;
}

.props-table code {
  font-size: .9rem;
}

.props-table .props-table-name-col .required-prop {
  color: #ff0a00;
}

.props-table .props-table-types-col span {
  color: var(--ifm-hr-background-color);
}

.props-table .props-table-types-col span:last-of-type {
  display: none;
}

.props-table .props-table-description-col {
  font-size: .9rem;
  max-width: 550px;
}

.props-table .props-table-default-col {
  min-width: 145px;
}

.props-table .props-table-default-col code {
  font-size: .85rem;
  background-color: #edf6ff;
}

.props-table .empty-props {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
}