/* Import main CSS including all components. */
@import "@newfold/ui-component-library";

/* Tailwind layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

body.toplevel_page_nfdui #wpwrap {
    background-color: #F1F5F9;
}

#wpcontent {
    padding: 0;
}

@media screen and (max-width: 782px) {
    .auto-fold #wpcontent {
        padding-left: 0px;
    }
}
