@utility nfd-root {
  .nfd-link {
    @apply nfd-text-indigo-600
			nfd-cursor-pointer
			nfd-underline

			hover:nfd-text-indigo-500
			focus:nfd-text-indigo-500
			focus:nfd-outline-none
			focus:nfd-ring-1
			focus:nfd-ring-offset-1
			focus:nfd-ring-offset-transparent
			focus:nfd-ring-indigo-600
			focus:nfd-rounded-sm
			visited:nfd-text-primary-500
			visited:hover:nfd-text-primary-400;
  }

  /* Variants */

  .nfd-link--primary {
    @apply nfd-text-primary-600 hover:nfd-text-primary-500 focus:nfd-text-primary-500 focus:nfd-ring-primary-600;
  }

  .nfd-link--error {
    @apply nfd-text-red-600 hover:nfd-text-red-500 focus:nfd-text-red-500 focus:nfd-ring-red-600;
  }
}
