@layer components {
	.nfd-root {
		.nfd-text-input {
			@apply
			nfd-w-full
			nfd-py-2
			nfd-px-3
			nfd-border
			nfd-border-slate-300
			nfd-rounded-md
			nfd-shadow-sm
			nfd-text-sm
			nfd-text-slate-800		
			nfd-bg-white
			focus:nfd-outline-none
			focus:nfd-ring-primary-500
			focus:nfd-border-primary-500;
		}

		.nfd-text-input--read-only, .nfd-text-input--disabled {
			@apply
			nfd-border-slate-200
			nfd-shadow-none
			nfd-text-slate-500
			nfd-bg-slate-50
			nfd-cursor-default;
		}

		.nfd-text-input--disabled {
			@apply
			nfd-cursor-not-allowed
			focus:nfd-ring-0;
		}
	}
}
