@layer components {
	.nfd-root {
		.nfd-tag-input {
			@apply
			nfd-flex
			nfd-flex-wrap
			nfd-items-center
			nfd-py-2
			nfd-px-3
			nfd-gap-1.5
			nfd-border
			nfd-border-slate-300
			nfd-rounded-md
			nfd-shadow-sm
			nfd-bg-white
			nfd-text-sm
			nfd-text-slate-800
			nfd-placeholder-slate-500
			nfd-leading-6
			focus-within:nfd-ring-1
			focus-within:nfd-ring-primary-500
			focus-within:nfd-border-primary-500;
		}

		.nfd-tag-input--disabled {
			@apply
			nfd-opacity-50
			nfd-cursor-not-allowed
			focus-within:nfd-ring-0
			focus-within:nfd-border-slate-300;

			.nfd-tag-input__tag {
				@apply
				nfd-cursor-not-allowed
				focus:nfd-outline-none
				focus:nfd-ring-0
				focus-visible:nfd-outline-none
				focus-visible:nfd-ring-0
				hover:nfd-ring-0;
			}

			.nfd-tag-input__remove-tag {
				@apply
				nfd-cursor-not-allowed
				hover:nfd-bg-slate-200
				hover:nfd-text-slate-400
				focus:nfd-outline-none
				focus:nfd-ring-0;
			}

			.nfd-tag-input__input {
				@apply nfd-cursor-not-allowed;
			}
		}

		.nfd-tag-input__tag {
			min-height: 20px;
			padding-inline-end: 0.125rem;

			@apply
			nfd-gap-0.5
			nfd-cursor-pointer
			focus:nfd-outline-none
			focus:nfd-ring-2
			focus:nfd-ring-primary-500
			focus-visible:nfd-outline-none
			focus-visible:nfd-ring-2
			focus-visible:nfd-ring-primary-500
			hover:nfd-ring-2
			hover:nfd-ring-primary-500
			hover:nfd-border-primary-500;
		}

		.nfd-tag-input__remove-tag {
			@apply
			nfd-inline-flex
			nfd-flex-shrink-0
			nfd-h-4
			nfd-w-4
			nfd-items-center
			nfd-justify-center
			nfd-rounded-full
			nfd-bg-slate-200
			nfd-text-slate-400
			hover:nfd-bg-slate-300
			hover:nfd-text-slate-500
			focus:nfd-outline-none
			focus:nfd-ring-2
			focus:nfd-ring-primary-500;
		}

		.nfd-tag-input__input {
			@apply
			nfd-inline-flex
			nfd-flex-1
			nfd-p-0
			nfd-m-0
			nfd-border-none
			nfd-text-sm
			focus:nfd-outline-none
			focus:nfd-ring-0;
		}
	}
}
